


<%= form_with model: @address, url: addresses_path do |f| %>
　<div class="field">
    <%= f.label :postal_code, "郵便番号" "(ハイフンなし)" %><br/>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br/>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>
  <div class="field">
　  <%= f.label :name, "宛名" %>
　  <%= f.text_field :name, autofocus: true %>
　</div>

  <div class="actions">
    <%= f.submit "新規登録" %>

  <% end %>
<div class="container py-4" id="contact">
  <h3>配送先登録/一覧</h3>
  <% @addresses.each do |address| %>
 <aside class="col-md-6">
    <div class="panel panel-default">
  <table class="table table-bordered">
  <tr><td>郵便番号</td>
      　<td><%= address.postal_code %></td>
      <tr><td>住所</td>
      　<td><%= address.address %></td></tr>
     　<tr><td>氏名</td>
        <td><%= address.name %></td></tr>
      　<td><%= link_to "編集する", edit_address_path(address) %></td>
  </tr>


<% end %>





