<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="7/5UMGD35pXnd68H/ZxWfOT+/i/18i/AIWvQGfimpCLFNpfxXJm1PUG5xSxfMqYT2FmNyntvjRCYAAwaZtnjkg=="><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>
  </head>
  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>LOGO</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><a class="fas fa-link nav-link text-light"><%= link_to "マイページ", customer_path(current_customer) %></a></li>
          <li><a class="fas fa-link nav-link text-light" href="/items/">商品一覧</a></li>
          <li><a class="fas fa-user-plus nav-link text-light" href="customers/sign_up/">新規登録</a></li>
         <li><a class="fas fa-sign-in-alt nav-link text-light" data-method="delete" href="sign_out">ログアウト</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<%= form_with model: @address, url: addresses_path do |f| %>
　<div class="field">
    <%= f.label :postal_code, "郵便番号" "(ハイフンなし)" %><br/>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br/>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>
  <div class="field">
　  <%= f.label :name, "宛名" %>
　  <%= f.text_field :name, autofocus: true %>
　</div>

  <div class="actions">
    <%= f.submit "新規登録" %>

  <% end %>
<div class="container py-4" id="contact">
  <h3>配送先登録/一覧</h3>
  <% @addresses.each do |address| %>
 <aside class="col-md-6">
    <div class="panel panel-default">
  <table class="table table-bordered">
  <tr><td>郵便番号</td>
      　<td><%= address.postal_code %></td>
      <tr><td>住所</td>
      　<td><%= address.address %></td></tr>
     　<tr><td>氏名</td>
        <td><%= address.name %></td></tr>
      　<td><%= link_to "編集する", edit_address_path(address) %></td>
  </tr>


<% end %>





